<template>
  <div>
    <!-- :toolbar-attributes="{ color: 'yellow' }"
    min-height="500"
    max-height="600"
    :editor-properties="editorProperties"
    output-format="json"
   -->
    <tiptap-vuetify
      v-model="content"
      :extensions="extensions"
      placeholder="Write something …"
      @keydown="onkeydown"
    />

    <br><br>
    <h1>Code</h1>
    <hr>

    <div>
      {{ content }}
    </div>

    <br><br>
    <h1>Preview</h1>
    <hr>

    <div
      class="tiptap-vuetify-editor__content"
      v-html="content"
    />
  </div>
</template>

<script>
import { MAIN_MODULE } from '../config'
import MyCustomExtension from '../MyCustomExtension'
import FileSelector from '../Components/FileSelector'
import fileSelector from '~/extensions/nativeExtensions/image/fileSelector'

export default {
  components: {
    TiptapVuetify: () => MAIN_MODULE.then(({ TiptapVuetify }) => TiptapVuetify),
    fileSelector,
  },
  data: () => ({
    // editorProperties: {
    //   editorProps: {
    //     handleKeyDown (a, b, c) {
    //       console.log('handleKeyDown', a, b, c)
    //     }
    //   }
    // },
    extensions: null,
    content: ''
  }),
  async created () {
    const {
      Heading, Bold, Italic, Strike, Underline, Code, CodeBlock, Paragraph, BulletList, OrderedList, ListItem, Notice, Iframe,
      Link, Blockquote, HardBreak, HorizontalRule, History, Figure, Image, Figcaption, TodoList, TodoItem, Table, TableCell, TableHeader,
      TableRow
    } = await MAIN_MODULE

    this.extensions = [
      MyCustomExtension,
      [Table, {
        options: {
          resizable: true
        }
      }],
      TableCell,
      TableHeader,
      TableRow,
      Code,
      CodeBlock,
      HorizontalRule,
      Paragraph,
      History,
      HardBreak, // позволяет переносить через Shift + Ctrl + Enter
      Underline,
      Strike,
      Italic,
      ListItem, // если нужно использовать список (BulletList, OrderedList)
      Notice,
      BulletList,
      OrderedList,
      Figure,
      [Image, {
        options: {
          imageSources: [{ component: fileSelector, name: 'File Selector' }],
          imageSourcesOverride: false,
        }
      }],
      Figcaption,
      Iframe,
      [Heading, {
        // Опции которые попадают в расширение tiptap
        options: {
          levels: [1, 2, 3]
        }
      }],
      // но опции не обязательно указывать если нужно чтобы renderIn: 'toolbar', это по умолчанию.
      [Bold, {
        renderIn: 'toolbar'
      }],
      [Blockquote, {
        renderIn: 'bubbleMenu',
        options: {
          levels: [1, 2, 3]
        }
      }],
      [Link, {
        renderIn: 'bubbleMenu'
      }]
    ]
  },
  methods: {
    onkeydown (event) {
      // console.log('event', event.key)
    }
  }
}
</script>

<style>
  .notice {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
  }
  figure {
    display: flex;
    justify-content: flex-start;
  }
</style>