<template>
  <v-dialog
    :value="value"
    max-width="500px"
  >
    <v-card>
      <v-card-title>
        <span class="headline">
          {{ $i18n.getMsg('extensions.Iframe.window.title') }}
        </span>

        <v-spacer />

        <v-btn
          icon
          @click="close"
        >
          <v-icon>{{ COMMON_ICONS.close[$tiptapVuetify.iconsGroup] }}</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-row
          no-gutters
          justify="center"
          align="center"
        >
          <v-col cols="12" md="12">
            <v-text-field
              v-model="videoId"
              :label="$i18n.getMsg('extensions.Iframe.window.form.videoID')"
            />
          </v-col>
          <v-col cols="12" md="12">
            <v-text-field
              v-model="width"
              :label="$i18n.getMsg('extensions.Iframe.window.form.width')"
            />
          </v-col>
          <v-col cols="12" md="12">
            <v-text-field
              v-model="height"
              :label="$i18n.getMsg('extensions.Iframe.window.form.height')"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn
          text
          @click="close"
        >
          {{ $i18n.getMsg('extensions.Iframe.window.buttons.close') }}
        </v-btn>

        <v-btn
          :disabled="isDisabled"
          text
          @click="apply"
        >
          {{ $i18n.getMsg('extensions.Iframe.window.buttons.apply') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { mixins } from 'vue-class-component'
import { Component, Prop } from 'vue-property-decorator'
import { VRow, VCol, VDialog, VCard, VCardTitle, VCardText, VCardActions, VBtn, VSpacer, VIcon, VTextField } from 'vuetify/lib'
import I18nMixin from '~/mixins/I18nMixin'
import { COMMON_ICONS } from '~/configs/theme'

export const PROPS = {
  VALUE: 'value' as const,
  CONTEXT: 'context' as const,
  EDITOR: 'editor' as const,
  NATIVE_EXTENSION_NAME: 'nativeExtensionName' as const
}

@Component({
  components: { VRow, VCol, VDialog, VCard, VCardTitle, VCardText, VCardActions, VBtn, VSpacer, VIcon, VTextField }
})
export default class IframeWindow extends mixins(I18nMixin) {
  @Prop({
    type: Boolean,
    default: false
  })
  readonly [PROPS.VALUE]: boolean

  @Prop({
    type: String,
    required: true
  })
  readonly [PROPS.NATIVE_EXTENSION_NAME]: string

  @Prop({
    type: Object,
    required: true
  })
  readonly [PROPS.CONTEXT]: any

  @Prop({
    type: Object,
    required: true
  })
  readonly [PROPS.EDITOR]: any

  readonly COMMON_ICONS = COMMON_ICONS

  src: string = 'https://www.youtube.com/embed/'

  width: string = '100%'

  height: string = '500px'

  videoId: string = ""

  get isDisabled () {
    return !this.videoId.length
  }

  apply () {
    const node = {
      src: this.src + this.videoId,
      width: this.width,
      height: this.height,
    }
    this[PROPS.CONTEXT].commands[this[PROPS.NATIVE_EXTENSION_NAME]](node)

    this.close()
    this[PROPS.EDITOR].focus()
  }

  close () {
    this.$destroy()
    this.$el.parentNode!.removeChild(this.$el)
  }
}
</script>
