<template>
  <v-row>
    <v-col cols="12" md="12">
        
    </v-col>

    <v-col cols="12" md="12">
      <h3>Загрузите изображение</h3>
    </v-col>
    <v-col cols="12" md="12">
      <v-file-input v-model="image" 
                    label="Choose image..."
                    show-size
                    clearable
                    accept="image/*"
                    @change="imageSelected()"
      />
      <!-- <v-text-field v-model="captionText" 
                    label="Подпись"
      /> -->
    </v-col>
  </v-row>
</template>

<script>
// import $axios from '@nuxt/axios'
// import axios from 'axios'
import { VRow, VCol, VFileInput } from 'vuetify/lib'

export default {
  components: { VRow, VCol, VFileInput },
  data() {
    return {
      image: [],
      // captionText: '',
      snackbar: false,
      snackbarColor: "green",
      snackbarText: '',
    }
  },
  methods: {
    imageSelected() {
      if (!this.image) {
        return
      }
      let data = new FormData()
      data.append('image', this.image)
      /*axios.post('/api/admin/article/upload-image', data, { withCredentials: true })
        .then((src) => {
          console.log(src.data)
          this.$emit('select-file', { src: src.data, alt: '' })
        })
        .catch ((e) => {
          if (e.isAxiosError && e.response?.data?.errors) {
            this.snackbarText = e
          } else {
            this.snackbarText = e
            console.error(e);
          }
          this.snackbarColor = 'red'
          this.snackbar = true
        })*/
      this.$emit('select-file', { src: 'https://img2.pngio.com/email-button-png-download-20832083-free-transparent-website-orange-website-icon-png-900_900.jpg', alt: '' })
    }
  },
}
</script>

<style>
    
</style>